/* App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #c5ceee;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding: 20px;
}

.App-header {
  background-color: #0d021e;
  color: rgb(239, 233, 231);
  padding: 20px;
  border-bottom: 5px solid #2c3e50;
}

ul {
  list-style: none;
  padding: 0;
  color: rgb(47, 6, 6);
}

li {
  background-color: #3e3bc4;
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: rgb(48, 233, 196);
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: rgb(9, 8, 8);
  text-align: center;

p {
  font-size: 18px;
  margin-bottom: 15px;
}

button {
  background-color: #3498db;
  color: rgb(239, 53, 53);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #2980b9;
}
.form{
  border-color: #3e3bc4;
}